//fonts//
$main-font: ;

//font sizes//
$s-x-small: 16px;
$s-small: 18px;
$s-regular: 22px;
$s-medium: 28px;
$s-large: 40px;

//font weights//
$w-normal: 400;
$w-bold: 700;

//colors//
$text-color: #111111;
$black-color: #000;
$divider-color: #d8d8d8;
$divider-stroke-color: #979797;
$accent-color: #4a4ff2;
$white-color: #fff;


