@use 'variables';

@import 'header-and-footer';

%divider {
    width: 100%;
    height: 2px;
    background-color: variables.$divider-color;
}

//base//
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: variables.$main-font;
}
a, button, input, textarea, select {
    all: unset;
}
ul, li {
    list-style-type: none;
}
body {
    overflow-x: hidden;  //hide width scroll
    background-color: variables.$white-color;
}

.main {
    margin: variables.$side-site-margin;
    //ABOUT// 
    .about {
        width: 100%;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        padding: 3vw 0 11vw 0;
        &__left {
            display: flex;
            flex-direction: column;
            gap: 4vw;
            &__text {
                font-size: variables.$s-regular;
                font-weight: variables.$w-bold;
                color: variables.$accent-color;
                letter-spacing: -0.423077px;
                line-height: 28px;
            }
            &__title {
                margin: 0;
                font-size: variables.$s-large;
                font-weight: variables.$w-bold;
                color: variables.$text-color;
                line-height: 60px;
                span {
                    color: variables.$accent-color;
                }
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            &__line {
                @extend %divider;
                width: 2.5vw;
                margin-bottom: 0.7vw;
            }
            &__text {
                font-size: variables.$s-small;
                font-weight: variables.$w-normal;
                color: variables.$text-color;
                font-style: italic;
                opacity: 0.6;
            }
        }
    }
    //GALLERY// 
    .gallery {
        width: 100%;
        max-width: 1600px;
        //grid// 
        .grid {
            height: 100%;
            max-height: 1960px;
            &__element {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
            &__container {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(32, 1fr);
                gap: 2vw;
                .first {  
                    grid-row: 1/8;
                    grid-column: 1/2;
                }
                .second {
                    grid-row: 8/16;
                    grid-column: 1/2;
                }
                .third {
                    grid-row: 16/24;
                    grid-column: 1/2;
                }
                .fourth {
                    grid-row: 24/33;
                    grid-column: 1/2;
                }
                .fifth {
                    grid-row: 1/7;
                    grid-column: 2/3;
                }
                .sixth {
                    grid-row: 7/14;
                    grid-column: 2/3;
                }
                .seventh {
                    grid-row: 14/23;
                    grid-column: 2/3;
                }
                .eight {
                    grid-row: 23/33;
                    grid-column: 2/3;
                }
                .ninth {
                    grid-row: 1/11;
                    grid-column: 3/4;
                }
                .tenth {
                    grid-row: 11/18;
                    grid-column: 3/4;
                }
                .eleventh {
                    grid-row: 18/27;
                    grid-column: 3/4;
                }
                .twelfth {
                    grid-row: 27/33;
                    grid-column: 3/4;
                }
            }
            
        }
    }
}
