.footer__content__logo, .header__nav__logo {
  height: 20px;
  color: #111111;
}

.footer__content__icon:hover, .nav__item:hover {
  color: #4a4ff2;
  border: 0.5px solid #4a4ff2;
  border-radius: 4px;
}

.nav__items {
  width: 160px;
  display: flex;
  justify-content: space-between;
}
.nav__item {
  font-size: 18px;
  color: #111111;
  font-weight: 400;
  letter-spacing: -0.346154px;
}
.header {
  margin: 0 10vw;
}
.header__nav {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  padding: 5vw 0;
}
.footer {
  margin: 0 10vw;
}
.footer__menu {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 5vw 0;
}
.footer__content__icons {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  width: 160px;
  padding-left: 30px;
}
.footer__content__icon {
  color: #000;
  font-size: 18px;
}
.main .awards__content__line, .main .about__right__line {
  width: 100%;
  height: 2px;
  background-color: #d8d8d8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}

a, button, input, textarea, select {
  all: unset;
}

ul, li {
  list-style-type: none;
}

body {
  overflow-x: hidden;
  background-color: #fff;
}

.main {
  margin: 0 10vw;
}
.main .about {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  padding: 3vw 0 11vw 0;
}
.main .about__left {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.main .about__left__text {
  font-size: 22px;
  font-weight: 700;
  color: #4a4ff2;
  letter-spacing: -0.423077px;
  line-height: 28px;
}
.main .about__left__title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  color: #111111;
  line-height: 60px;
}
.main .about__left__title span {
  color: #4a4ff2;
}
.main .about__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main .about__right__line {
  width: 2.5vw;
  margin-bottom: 0.7vw;
}
.main .about__right__text {
  font-size: 18px;
  font-weight: 400;
  color: #111111;
  font-style: italic;
  opacity: 0.6;
}
.main .gallery {
  width: 100%;
  max-width: 1600px;
}
.main .gallery .grid {
  height: 100%;
  max-height: 1960px;
}
.main .gallery .grid__element img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.main .gallery .grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(32, 1fr);
  gap: 2vw;
}
.main .gallery .grid__container .first {
  grid-row: 1/8;
  grid-column: 1/2;
}
.main .gallery .grid__container .second {
  grid-row: 8/16;
  grid-column: 1/2;
}
.main .gallery .grid__container .third {
  grid-row: 16/24;
  grid-column: 1/2;
}
.main .gallery .grid__container .fourth {
  grid-row: 24/33;
  grid-column: 1/2;
}
.main .gallery .grid__container .fifth {
  grid-row: 1/7;
  grid-column: 2/3;
}
.main .gallery .grid__container .sixth {
  grid-row: 7/14;
  grid-column: 2/3;
}
.main .gallery .grid__container .seventh {
  grid-row: 14/23;
  grid-column: 2/3;
}
.main .gallery .grid__container .eight {
  grid-row: 23/33;
  grid-column: 2/3;
}
.main .gallery .grid__container .ninth {
  grid-row: 1/11;
  grid-column: 3/4;
}
.main .gallery .grid__container .tenth {
  grid-row: 11/18;
  grid-column: 3/4;
}
.main .gallery .grid__container .eleventh {
  grid-row: 18/27;
  grid-column: 3/4;
}
.main .gallery .grid__container .twelfth {
  grid-row: 27/33;
  grid-column: 3/4;
}
.main .awards {
  width: 100%;
  max-width: 1600px;
  margin-top: 8vw;
  display: flex;
  flex-direction: column;
  gap: 8vw;
}
.main .awards__introduction {
  display: flex;
  justify-content: space-between;
}
.main .awards__introduction__title {
  font-size: 28px;
  font-weight: 700;
  color: #111111;
  line-height: 38px;
}
.main .awards__introduction__lists {
  display: flex;
  gap: 2vw;
}
.main .awards__introduction__lists__left, .main .awards__introduction__lists__right {
  width: 11.5vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}
.main .awards__introduction__lists__text {
  font-size: 18px;
  font-weight: 400;
  color: #111111;
  line-height: 23px;
  opacity: 0.6;
}
.main .awards__introduction__lists__text:hover {
  opacity: 1;
  color: #4a4ff2;
  text-decoration: underline;
}
.main .awards__content {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}
.main .awards__content__title {
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  line-height: 28px;
}
.main .awards__content__subtitle {
  font-size: 18px;
  font-weight: 700;
  color: #111111;
  line-height: 23px;
}
.main .awards__content__text {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
}
.main .awards__content__text span {
  display: block;
  opacity: 0.6;
  line-height: 26px;
  margin-top: 1vw;
}
.main .awards__content__year {
  font-size: 16px;
  font-weight: 400;
  color: #111111;
  line-height: 20px;
  text-align: right;
}
.main .awards__content__grid {
  display: grid;
  grid-template-columns: 1fr 18vw 18vw 7vw;
  grid-template-rows: 16vw 10vw;
}
.main .awards__content__grid .first {
  grid-row: 1/3;
  grid-column: 1/2;
}
.main .awards__content__grid .second {
  grid-row: 1/2;
  grid-column: 2/3;
}
.main .awards__content__grid .third {
  grid-row: 2/3;
  grid-column: 2/3;
}
.main .awards__content__grid .fourth {
  grid-row: 1/2;
  grid-column: 3/4;
}
.main .awards__content__grid .fifth {
  grid-row: 2/3;
  grid-column: 3/4;
}
.main .awards__content__grid .sixth {
  grid-row: 1/2;
  grid-column: 4/5;
}
.main .awards__content__grid .seventh {
  grid-row: 2/3;
  grid-column: 4/5;
}/*# sourceMappingURL=styles.css.map */